body{
    background-image: url('MMUWIN.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

*{
    margin: 0px;
    padding: 0px;
}

ul{
    list-style-type: none;
    background-image: linear-gradient(to right , red , white , blue);
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 40px 25px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    width: 100%;
    background-image: linear-gradient(to right , red , white , blue);
    display: none;
    position: absolute;
    z-index: 999;

}

ul li a:hover {
    background-color: white;
}

ul li:hover ul.dropdown{
    display: block;
}

i{
    margin-left: 10px;
    margin-right: 7px;
}


