<!DOCTYPE html>
<html>
<head>
    <title>Forum Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
	<a href="{{ forum_url }}">Go to the forum page</a>
    <h1>Forum Discussion</h1>
    <form method="POST" action="/add_post">
		<label for="title">Title</label>
		<input type="text" id="title" name="title" placeholder="Title" required>
		<label for="content">Content</label>
		<textarea id="content" name="content" placeholder="Content" required></textarea>
		<label for="username">Username</label>
		<input type="text" id="username" name="username" placeholder="Username" required>
		<button type="submit" id="add-post">Add Post</button>
	</form>
    </form>
    <div class="post-container">
        {% for post in posts %}
        <div class="post">
            <h2 class="title">{{ post.title }}</h2>
            <p class="content">{{ post.content }}</p>
            <p class="username">Posted by: {{ post.username }}</p>
            <div class="comment-section">
                <form method="POST" action="/add_comment/{{ post.id }}">
					<input type="hidden" name="forum_id" value="{{ post.id }}">
					<input type="text" class="comment-input" name="content" placeholder="Add a comment..." required>
					<label for="username">Username</label>
					<input type="text" id="username" name="username" placeholder="Username" required>
					<button type="submit" class="add-comment">Add Comment</button>
				</form>
                <div class="comments">
                    {% for comment in post.comments %}
                    <div class="comment">
                        <p class="text">{{ comment.content }}</p>
                        <p class="username">Commented by: {{ comment.username }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="script.js"></script>
</body>
</html>