<!DOCTYPE html>
<html>
    <head>
       <meta  charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
       <title>{{user.username}}'s Profile</title>
       <link rel="stylesheet" href="{{url_for('static' , filename='style2.css')}}"> 
    </head>




<body>
  {{user.username}}'s Profile
  <h2><a href="{{url_for('main')}}">Go back to Main Page?</a></h2>
    <div class="profile">
        <div id="profilephoto">
          
             
             {% if user.profile and user.profile.profile_pic %}
             <div class="photo-frame">
                <img src="{{url_for('static' , filename='uploads/' + user.profile.profile_pic) }}" alt="ProfilePhoto">
             </div>
             {% else %}
               <p>No profilephoto </p>
             {% endif %}
             
            <p>Bio:{{user.profile.bio}}</p>
         
        </div>
      </div>

        
    
</body>





</html>



