<!DOCTYPE html>
<html>
    <head>
       <meta  charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
       <title>{{user.username}}'s Profile</title>
       <link rel="stylesheet" href="{{url_for('static' , filename='style2.css')}}"> 
    </head>




<body>
  {{user.username}}'s Profile
    
        
          <div>
             
             {% if user.profile and user.profile.profile_pic %}
                <img src="{{url_for('static' , filename='uploads/' + user.profile.profile_pic) }}" alt="ProfilePhoto">
             {% else %}
               <p>No profilephoto </p>
             {% endif %}
             
            <p>Bio:{{user.profile.bio}}</p>
         </div>


        
    
</body>





</html>



